.ant-layout {
  background-color: white;
}
.ant-list .ant-list-item{
  padding: 8px;
}
.content-style {
  margin: 14px 24px 14px 24px;
  background-color: white;
}

.menu-style {
  height: calc(100vh - 110px);
}

.wrapper-pending {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  background: rgba(22, 119, 255, 0.2);
}

.wrapper-changes-requested{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  background: rgba(250,173,20, 0.2);
}

.wrapper-accepted {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  background: rgba(0, 204, 0, 0.2);
}

.wrapper-rejected {
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  background: rgba(255,77,79, 0.2);
}

.wrapper-enlight{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;
  border: none;
  border-radius: 15px;
  background: transparent;
}

.wrapper-enlight:hover {
  background-color: rgb(22, 119, 255, 0.05);
}

.wrapper-enlight .ant-list-item-meta-title {
  text-align: left;
}

.footer-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.footer-style {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  width: 220px;
  text-align: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .20);
  border-radius: 10px;
}

.header-style {
  margin: 15px 20px 20px;
  border-radius: 20px;
  position: sticky;
  top: 15px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
}

.logo-style {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100px;
  margin-bottom: 10px;
}

.cover-style {
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 16px;
}

.time-picker-hide-footer .ant-picker-footer {
  display: none;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 90px;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: 0px;
}

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.images-container {
  display: flex;
  max-width:5000px;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 600px;
  height: auto;
  margin: 5px;
  border-radius: 8px;
}

.image-mobile{
  width: 400px;
  height: auto;
  margin: 5px;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}