.ant-layout {
  background-color: white;
}

.content-style {
  margin: 14px 24px 14px 24px;
  background-color: white;
}

.wrapper-enlight{
  display: flex;
  width: 100%;
  padding: 0;
  justify-content: space-between;

  border: none;
  border-radius: 15px;

  background: transparent;
}
.wrapper-enlight:hover {
  background-color: rgb(22, 119, 255, 0.05);
}
.wrapper-enlight .ant-list-item-meta-title {
  text-align: left;
}

.footer-style {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home-title {
  margin-left: 2%;
  background-color: white;
}

.header-style {
  margin: 15px 20px 20px;
  border-radius: 20px;
  position: sticky;
  top: 15px;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  /*Not amazing from mobile*/
  /*Becomes scrollable when logged in on PC*/
}

.logo-style {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #f0f0f0;
}

.menu-style {
  height: calc(100vh - 64px);
  /* 64px is header height */
}

.cover-style {
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
  min-width: 100%;
  min-height: 16px;
}

.time-picker-hide-footer .ant-picker-footer {
  display: none;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  top: 90px;
}

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.images-container {
  display: flex;
  max-width:5000px;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 500px;
  height: 350px;
  margin: 5px;
  border-radius: 8px;
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}
